body {
    background-color: powderblue;
    margin:0;
    background-image: url(background.jpeg)
  }
  h1 {
    color: rgb(135, 0, 153);
  }
  h2 {
    color: rgb(135, 0, 153);
  }
  p {
    color: pink;
  }
  h3 {
color: pink;
  }
  li {
color: pink;
  }
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a659fd;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar li {
    float: left;
  }
  
 .navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar li a:hover:not(.active) {
    background-color: #bb56ff;
  }
  
  .active {
    background-color: #ff00dd;
  }

  .navbar {
    padding:20px;
    margin-top:30px;
  }
  
  .project-title {
    position: absolute;
    top: 30%;
    left: 10%;
  }

  .home-info {
    position: absolute;
    top: 30%;
    left: 10%;
  }

  .contents {
    position: absolute;
    top: 30%;
    right: 20%;
  }

  .header {
    display: flex;
    align-items: center;
}
.final-outcome{
  position: absolute;
  top: 70%;
  left: 10%;
} 
.end-users{
  position: absolute;
  top: 100%;
  left: 10%;
}
.requirements{
  position: absolute;
  top: 120%;
  left: 10%;
}
.implications{
  position: absolute;
  top: 165%;
  left: 10%;
}
p.a {
  text-align: left;
  text-align: center;

}

p.b {
  text-align: left;
  text-align: center;
}
.split-box {
  display: flex;
  align-items: center;
}
.left-text {
  flex: 0 0 45%;
  margin-right: var(--padding-medium);
}

.right-text {
  flex: 0 0 45%;
  margin-left: var(--padding-medium);
}
section {
  height: 500px;
}